@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




.signin1
{
  position: absolute;
top: -4px;
left: -60px;
font: 1em sans-serif;
  width: 50%;
  background: white;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
}

.signin1 h2 
{
  font-size: 2em;
  color: #000;
  text-transform: unset;
}